/*font*/
$fs-large-1: 8.6rem; //172px
$fs-large-2: 6rem; //120px
$fs-large-3: 3rem; //60px
$fs-large-4: 2.6rem; //52px
$fs-large-5: 4rem; //80px
$fs-medium-1: 2.2rem; //44px
$fs-medium-2: 1.6rem; //32px
$fs-medium-3: 1.2rem; //24px
$fs-medium-4: 1.4rem; //28px
$fs-medium-5: 2rem; //40px
$fs-normal: 1rem; //20px
$fs-small-1: 1.1rem; //22px
$fs-small-2: 0.8rem; //16px
$fs-small-3: 0.7rem; //14px
$fs-small-4: 0.9rem; //18px

/* line-height */
$lh-large-1: 10rem; //200px
$lh-large-2: 8rem; //160px
$lh-large-3: 4rem; //80px
$lh-large-4: 5rem; //100px
$lh-medium-1: 3.2rem; //64px
$lh-medium-2: 2.8rem; //56px
$lh-medium-3: 2.4rem; //48px
$lh-medium-4: 3.4rem; //68px
$lh-medium-5: 2rem; //40px
$lh-small-1: 1.8rem; //36px
$lh-small-2: 1.6rem; //32px
$lh-normal: 1.4rem; //28px
$lh-small-3: 1.2rem; //24px
$lh-small-4: 1rem; //20px

$spacing-xs: 0.2rem; //4px
$spacing-s: 0.4rem; //8px
$spacing-m: 0.6rem; //12px

/* color */
$color-main: #0dbba2;
$color-wh100: #fff;
$color-wh80: #cdcdcd;
$color-bk100: #040404;
$color-bk80: #323334;
$color-bk40: #999999;
$color-bg: #edeff4;
$color-border: #343434;
$color-card: #1d1d1d;
$color-lightBg: #f9f9f9;
$color-scroll: #5c5c5c;

$font-family: "Noto Sans KR", sans-serif;

$font-path: "../fonts/";
$font: "NotoSansKR";
$font-name: "NotoSansKR", sans-serif;
$fonts: (
  "Thin": 100,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "Bold": 700,
  "Black": 900,
);

$e-font-family: "Montserrat", sans-serif;
$e-font-path: "../fonts/";
$e-font: "Montserrat";
$e-font-name: "Montserrat", sans-serif;
$e-fonts: (
  "Bold": 700,
);

// + font weight
$weight-100: 100; // Thin
$weight-300: 300; // Light
$weight-400: 400; // Regular
$weight-500: 500; // Medium
$weight-700: 700; // Bold
$weight-900: 900; // Black

// letter spacing
$ls-normal: -0.015rem; //-0.3px
$ls-large: -0.2rem; //-4px
$ls-medium: -0.1rem; //-2px
$ls-small: -0.02rem; //-0.4px
